{{ define "main" }}
{{- if .Site.IsServer -}} {{ "<!-- Layout: _default/home.html -->" |safeHTML }} {{- end -}}

<section class="person-info">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="{{ .Params.photo }}" alt="" class="person-image">
        <p class="person-name"></p>
        <div class="person-links">
          {{ range .Params.links }}
          <a href="{{ .url }}" class="person-link" target="_blank"><img class="person-link-icon" src="{{ .icon }}" alt="{{ $.Page.Title }}"></a>
          {{ end }}
        </div>
      </div>

      <div class="col-md-6">
        <p class="person-info-titel">About</p>
        <p class="person-info-about">{{ .Params.about }}</p>
      </div>

    </div>
  </div>
</section>

<section class="portfolio-info">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 projects-wrapper">
        <h3>Recent Projects</h3>
        {{ range .Params.Projects }}
        <div class="project-item">
          <div class="project-item-logo">
            <img src="{{ .logo }}">
          </div>
          <div class="project-item-info">
            <h4 class="project-item-title">{{ .name }}</h4>
            {{ with .url }} <p class="project-item-url"><a href="{{ . }}" target="_blank">{{ . }}</a></p> {{ end }}

            {{ with .skills }}
            <div class="project-item-skills">
              {{ range . }} <span>{{ . }}</span> {{ end }}
            </div>
            {{ end }}
            <p class="project-item-description">{{ .description }}</p>
          </div>
        </div>
        {{ end }}

      </div>

    </div>
  </div>
</section>









{{- if .Site.IsServer -}} {{ "<!-- Layout: _default/home.html -->" |safeHTML }} {{- end -}}
{{ end }}