{{ define "main" }}
{{- if .Site.IsServer -}} {{ "<!-- Layout: _default/home.html -->" |safeHTML }} {{- end -}}

<section class="person-info">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center">
        <img src="{{ .Params.photo }}" alt="" class="person-image">
        <h1 class="person-name">{{ .Params.name }}</h1>
        <div class="person-links">
          {{ range .Params.links }}
          <a href="{{ .url }}" class="person-link {{ .icon }}" target="_blank"></a>
          {{ end }}
        </div>
      </div>

      <div class="col-md-6">
        <p class="person-info-title">About</p>
        <p class="person-info-about">{{ .Description }}</p>
        <p class="person-info-title">Skills</p>
        <div class="skills-wrap">
          {{ range .Params.skills }}
          <span class="skills">{{ . }}</span>
          {{ end }}
        </div>
      </div>

    </div>
  </div>
</section>

<section class="portfolio-info">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 projects-wrapper">
        <h3>Recent Projects</h3>
        {{ range .Params.Projects }}
        <div class="project-item">
          <div class="row project-item-title-wrap">
            <div class="col-md-3 project-item-logo"> <img src="{{ .logo }}" alt="{{ .name}}"></div>
            <div class="col-md-9">
              <h4 class="project-item-title">{{ .name }}</h4>
            </div>
          </div>
          <div class="project-item-info">
            {{ with .url }} <p class="project-item-url"><a href="{{ . }}" target="_blank">{{ . }}</a></p> {{ end }}

            {{ with .skills }}
            <div class="project-item-skills">
              {{ range . }} <span class="skills">{{ . }}</span> {{ end }}
            </div>
            {{ end }}
            <p class="project-item-description">{{ .description }}</p>
          </div>
        </div>
        {{ end }}

      </div>

    </div>
  </div>
</section>






<footer>
  <p>All Rights Reserved by Faizan Vahevaria.</p>
</footer>


{{- if .Site.IsServer -}} {{ "<!-- Layout: _default/home.html -->" |safeHTML }} {{- end -}}
{{ end }}